@import url("https://fonts.googleapis.com/css2?family=Inspiration&display=swap");

.layout {
  min-width: 350px;
  position: relative;
}

.menu {
  list-style-type: none;
  background-color: #00cddd;
  margin: 0 auto 10px auto;
}

.menu li {
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
}
.menu li:hover {
  background: #00abbb;
}
